.metodologiasComponent {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}

.text {
  max-width: 287px;
}

.text h2 {
  font-size: 36.01px;
  font-weight: 300;
  word-wrap: break-word;
  color: var(--letter-color);
  margin-bottom: 32px;
}

.text a {
  color: #fff;
  font-size: 13.4px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 18.09px;
  text-decoration: none;
  background-color: var(--letter-color);
  width: 200px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text a strong {
  margin-top: 5px;
  display: block;
}

.metodologias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 120px 120px;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 228px;
  gap: 1rem;
}

.arrows img {
  cursor: pointer;
}

.materiais + .arrows {
  display: none;
}

@media (max-width: 1400px) {
  .metodologiasComponent {
    padding-right: 25px;
  }

  .materiais {
    gap: 1.5rem 2rem;
  }
}

@media (max-width: 1200px) {
  .metodologiasComponent {
    padding-right: 0;
  }

  .materiais {
    gap: 1.5rem 1.5rem;
    width: 648px;
  }
}

@media (max-width: 992px) {
  .metodologiasComponent {
    padding-right: 0;
  }

  .materiais {
    gap: 1.5rem 1.5rem;
    width: 424px;
  }
}

@media (max-width: 768px) {
  .metodologiasComponent {
    flex-direction: column;
  }

  .contatoExtra {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .materiais {
    margin-top: 2rem;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .metodologiasComponent {
    padding: 0 1rem;
    flex-direction: column;
  }

  .materiais {
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    height: fit-content;
    width: 100%;
    gap: 2.5rem;
  }

  .materiais::-webkit-scrollbar {
    height: 0;
  }

  .materiais > .arrows {
    display: none;
  }

  .materiais + .arrows {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    height: fit-content;
    padding-bottom: 4rem;
  }
}
