.metodologiasComponent {
  display: flex;
  justify-content: space-between;
}

.text {
  max-width: 287px;
}

.text h2 {
  font-size: 36.01px;
  font-weight: 300;
  word-wrap: break-word;
  color: var(--letter-color);
  margin-bottom: 32px;
  line-height: 37.81px;
}

.text a {
  color: #fff;
  font-size: 13.4px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 18.09px;
  text-decoration: none;
  background-color: var(--letter-color);
  width: 200px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text a strong {
  margin-top: 5px;
  display: block;
}

.metodologias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 120px;
}
.arrows img {
  cursor: pointer;
}

@media (max-width: 1400px) {
  .metodologiasComponent {
    gap: 2rem;
  }
}

@media (max-width: 1200px) {
  .metodologiasComponent {
    padding-right: 0;
    justify-content: space-between;
  }

  .metodologias {
    gap: 1.5rem 1.5rem;
  }
}

@media (max-width: 992px) {
  .metodologiasComponent {
    padding-right: 0;
  }

  .metodologias {
    gap: 1.5rem 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .metodologiasComponent {
    flex-direction: column;
  }

  .contatoExtra {
    margin-top: 1.5rem;
  }

  .metodologias {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .metodologiasComponent {
    padding: 0 1rem;
    flex-direction: column;
    gap: 2rem;
  }

  .metodologias {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
