* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

body.bluescreen {
  --letter-color: #fefefe;
  --active-letter-color: #cbf244;
  --background-color: #0016ff;
  --logo: url("/logo-white.svg");
  --logo-behance: url("/logo-behance-green.svg");
  --logo-instagram: url("/logo-instagram-green.svg");
}

body.whitescreen {
  --letter-color: #0016ff;
  --active-letter-color: #0016ff;
  --background-color: #f0f0f0;
  --logo: url("/logo-blue.svg");
  --logo-behance: url("/logo-behance-blue.svg");
  --logo-instagram: url("/logo-instagram-blue.svg");
}
