.projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.projetos img {
  cursor: pointer;
}

.image {
  position: relative;
  width: 498px;
  height: 396px;
}

@media (max-width: 768px) {
  .projetos a {
   width: 100%;
  }
}
